<p class="title">Wallets</p>
<div class="row">
    <div class="wallet-toggle">
        <button class="active">All <span>123</span></button>
        <button class="">Active <span>100</span></button>
        <button class="">Inactive <span>23</span></button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card card-table">
        <div class="card-header">
          <h4 style="font-weight: 600;font-size: 20px;">Verifications done per day</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <th>
                Wallet ID
              </th>
              <th>
                Wallet Group
              </th>
              <th>
                Document consents
              </th>
              <th>
                Created on
              </th>
              <th>
                Status
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  h8gvgxzb
                </td>
                <td>
                  Regular
                </td>
                <td>
                  2
                </td>
                <td>
                  18-02-2021
                </td>
                <td>
                  <img src="assets/svg/green-led.svg"/> Active
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>