.text-primary {
    color: #0D6EFD;
    cursor: pointer;
    text-decoration: none;
}

.menu-title {
    text-transform: initial;
    margin: 0 12px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.logo {
    height: 72px !important;
    background: #FFFFFF !important;
    box-shadow: inset 0px -1px 0px #f5f5f5 !important;
}