.title {
    //styleName: Heading 3;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}
.card {
    box-shadow: none;
}
.card-category {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.card-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin: 8px 0px !important;
}
.icon-warning {
    background: #F5F5F5;
    border-radius: 24px;
}
.stats {
    //styleName: Paragraph;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 72px ;
    color: #28A745 !important;

    width: 95px;
    height: 24px;
    background: #F5F5F5;
    border-radius: 4px;

    img {
        width: 16px;
    }
}
.widget-img {
    width: 16px;
    height: 16px;
}
.card-stats {
    height: 168px;
    margin: auto;
    width: 255px;
    padding: 24px;
    background: white;
    /* Whitesmoke */

    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    /* Input Shadow Primary */

    box-shadow: 0px 8px 16px rgba(255, 198, 13, 0.04);
    border-radius: 8px;
}
.numbers {
    width: 151px;
}

/*
* Toggle
*/

 .dash-toggle {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    float: right;

    position: static;
    width: 337px !important;
    height: 40px;
    right: 0px;
    top: calc(50% - 40px/2);

    /* Gainsboro */

    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
 }

 .dash-toggle button {
    /* Auto Layout */
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    text-transform: initial;
    position: static;
    width: 112px;
    height: 40px;
    left: 192px;
    top: 0px;

    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

.dash-toggle button:hover {
    color: #141414 !important;
    background: #FFC60D !important;
    box-shadow: 0px 8px 16px rgba(255, 198, 13, 0.16);
    border-radius: 8px;
}

/*
* Table
*/
.card-table {
    background: #FFFFFF;
    /* Whitesmoke */

    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    /* Input Shadow Primary */

    box-shadow: 0px 8px 16px rgba(255, 198, 13, 0.04);
    border-radius: 8px;

    padding: 24px;

    thead {
        background: #F9F9F9;
        box-shadow: inset 0px -1px 0px #F5F5F5;
    }

    th {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #808080;
        border-top: none;
        border-bottom: none;
    }

    tr, td {
        border: none;
        color: #141414;
        font-size: 16px;
        line-height: 24px;
    }
}