<p class="title">At a glance</p>

<div class="row">
  <div class="dash-toggle">
    <button class="btn btn-warning">Daily</button>
    <button class="btn btn-warning active">Weekly</button>
    <button class="btn btn-warning">Monthly</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="numbers">
              <p class="card-category">Users added</p>
              <p class="card-title">123<p>
            </div>
          </div>
          <div class="col-md-3 col-sm-0">
            <div class="text-center icon-warning">
              <img class="widget-img" src="assets/svg/users.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <img src="assets/svg/up.svg"/> 12.34%
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="numbers">
              <p class="card-category">Documents issued</p>
              <p class="card-title">1.234
                <p>
            </div>
          </div>
          <div class="col-md-3 col-sm-0">
            <div class="text-center icon-warning">
              <img class="widget-img" src="assets/svg/documents.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <div class="stats">
          <img src="assets/svg/up.svg"/> 12.34%
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="numbers">
              <p class="card-category">Verifications done</p>
              <p class="card-title">12.345
                <p>
            </div>
          </div>
          <div class="col-md-3 col-sm-0">
            <div class="text-center icon-warning">
              <img class="widget-img" src="assets/svg/verifications.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <div class="stats">
          <img src="assets/svg/up.svg"/> 12.34%
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="numbers">
              <p class="card-category">Custom metric</p>
              <p class="card-title">123
                <p>
            </div>
          </div>
          <div class="col-md-3 col-sm-0">
            <div class="text-center icon-warning">
              <img class="widget-img" src="assets/svg/finace.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <div class="stats">
          <img src="assets/svg/up.svg"/> 12.34%
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h4 style="font-weight: 600;font-size: 20px;">Verifications done</h4>
        <p style="font-size: 16px;">
          <img src="assets/svg/green-led.svg"/> Successful verifications &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <img src="assets/svg/red-led.svg"/> Failed verifications &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <img src="assets/svg/gray-led.svg"/> Total verifications
        </p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 style="font-weight: 600;font-size: 20px;">Verifications done per day</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <th>
              Date
            </th>
            <th>
              Successful verifications
            </th>
            <th>
              Failed verifications
            </th>
            <th>
              Total verificatioins
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                25-04-2021
              </td>
              <td>
                1.234
              </td>
              <td>
                123
              </td>
              <td>
                1.357
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
